[submodule "submodules/rand_param_envs"]
	path = submodules/rand_param_envs
	url = git@github.com:dennisl88/rand_param_envs.git
[submodule "submodules/metaworld"]
	path = submodules/metaworld
	url = git@github.com:rlworkgroup/metaworld.git
[submodule "submodules/url_benchmark"]
	path = submodules/url_benchmark
	url = git@github.com:PhilippWidmann/url_benchmark.git
