# pycharm
.idea

## General

*.pyc
*.ipynb_checkpoints
__pycache__

*.npy
*.pkl

*.swp
*.swo

.envrc

## Project

.temp
.temp_cemrl

*live.ipynb

/local/
/output/
/output_analysis/
/output_analysis_old/
/output_old/
/analysis/figures
/thesis_data/
